body{
    background-color: #D8DFE8;
    line-height:0%;
    width: 1440px;
}

.icono{
    position: relative;
    height: 50px;
    width: 100px;
}

.logo{
    margin-left: 40px;
    margin-top: 40px;
}
.caja1{
    float: left;    
    margin-top: 100px;
    margin-left: 240px;  
}
.tablero{
    outline: none;
    width: 750px;
    margin-bottom: 390px;
    height: 80px;
    border-style: none;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 35px;
}

.tablero ::placeholder{
    color: #0A3871;
}

.caja2{
    float: right;
    margin-top: -10px;
    margin-right: -40px;
}

.pantalla{
    outline: none;
    resize: none;
    width: 340px;
    height: 600px;
    float: right;
    border-radius: 30px;
    border-style: none;
    color:gray;
    font-size: 25px;
    box-shadow: -3px 3px 15px 1px rgb(150, 150, 150);
    display: flex;
    padding: 40px;
}

.sticker{
    width: 340px;
    height: 500px;
    position: relative;
    bottom: 440px;
    left: 1100px;
}
.sticker h6{
    font-size: 24px;
    text-align: center;
    color: rgb(51, 45, 45);
}
.sticker p{
    text-align: center;
    font-size: 16px;
    color: rgb(70, 70, 70);
}

.sobre{
    width: 400px;
    height: 80px;
    position: relative;
    left: 1112px;
}

button{
    width: 330px;
    height: 60px;
    border-radius: 24px;
    text-align: center;
}

.tomar{
    background-color: #D8DFE8;
    color: darkblue;
    border-color: darkblue;
    right: 55px;
    display: none;
}

.encriptar{
    background-color: darkblue;
    color: white;
    border-color: white;
    margin-left: 230px;
    
}

.desencriptar{
    background-color: #D8DFE8;
    color: darkblue;
    border-color: darkblue;
    margin-left: 20px;
}

@media screen and (max-width: 1000px) {

    body{
        width: auto;
    }
    .logo{
        margin-left: 1em;
        margin-top: 4em;
    }
    .caja1{
        margin-top: 16em;
        margin-left: 4em;  
    }

    .tablero{
        width: 18em;
        height: 4em;
        margin-bottom: 10em;
    }

    .caja2{
        position: absolute;
        float: left;
        margin-right: 0;
        margin-top: 57em;
        margin-left: 2em;
    }

    .pantalla{
        width: 25em;
        height: 3em;
        float: left;
    }

    section{
        width: auto;
        height: 200px;
    }

    .sticker{
        height: 2em;
        position: relative;
        left: 13em;
        top: 12em;
    }

    .sticker h6{
        margin-top: 160px;
    }

    #muneco{
        display: none;
    }

    .sobre{
        width: 10em;
        height: 5em;
        position: relative;
        left: 3em;
        bottom: -15em;
    }

    br{
        display: none;
    }

    .tomar{
        height: 40px;
        width: 50em;
    }

    .encriptar{
        margin-top: 2em;
        margin-left: 2em;
    }

    .desencriptar{
        margin-top: 1em;
        margin-left: 2em;
    }

}

@media screen and (max-width: 750px) {

    body{
        width: 360px;
    }
    .logo{
        margin-left: -1em;
        margin-top: 2em;
    }
    .caja1{
        margin-top: 8em;
        margin-left: 1em;  
    }

    .tablero{
        width: 10em;
        height: 2em;
        margin-bottom: 7em;
    }

    .caja2{
        position: absolute;
        float: left;
        margin-right: 0;
        margin-top: 45em;
        margin-left: 2.5em;
    }

    .pantalla{
        width: 9em;
        height: 5em;
        float: left;
    }

    section{
        position: relative;
        width: 20em;
        height: 2em;
    }

    .sticker{
        height: 2em;
        position: relative;
        left: 1em;
        top: 20em;
    }

    br{
        display: block;
    }

    #muneco{
        display: none;
    }

    .sobre{
        width: 10em;
        height: 5em;
        position: relative;
        left: 4em;
        bottom: -25em;
    }

    .tomar{
        height: 40px;
        width: 250px;
    }

    .encriptar{
        margin-top: 2em;
        margin-left: 2em;
    }

    .desencriptar{
        margin-top: 1em;
        margin-left: 2em;
    }

}